shark_v06122013.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:Demo" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:Demo">
<types>
<xsd:schema targetNamespace="urn:Demo">
<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
<xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
<xsd:complexType name="RequestCustomer">
<xsd:sequence>
<xsd:element name="Operation" type="tns:OperationType"/>
<xsd:element name="Service" type="tns:ServiceCustomerIn"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ServiceCustomerIn">
<xsd:sequence>
<xsd:element name="Customer" type="tns:CustomerIn"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CustomerIn">
<xsd:sequence>
<xsd:element name="Input" type="tns:CustomerInData"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CustomerInData">
<xsd:sequence>
<xsd:element name="Area" type="xsd:string"/>
<xsd:element name="Phone" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ResponseCustomer">
<xsd:sequence>
<xsd:element name="Operation" type="tns:OperationType"/>
<xsd:element name="Service" type="tns:ServiceCustomerOut"/>
<xsd:element name="Return" type="tns:ReturnType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ServiceCustomerOut">
<xsd:sequence>
<xsd:element name="Customer" type="tns:CustomerOut"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CustomerOut">
<xsd:sequence>
<xsd:element name="Output" type="tns:CustomerOutData"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CustomerOutData">
<xsd:sequence>
<xsd:element name="CPE" type="tns:CPE" minOccurs="0"/>
<xsd:element name="Return" type="tns:ReturnType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CPE">
<xsd:sequence>
<xsd:element name="CPEType" type="xsd:string"/>
<xsd:element name="VendorName" type="xsd:string"/>
<xsd:element name="CPEModel" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="RequestVendor">
<xsd:sequence>
<xsd:element name="Operation" type="tns:OperationType"/>
<xsd:element name="Service" type="tns:ServiceVendorIn"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ServiceVendorIn">
<xsd:sequence>
<xsd:element name="Vendor" type="tns:VendorIn"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="VendorIn">
<xsd:sequence>
<xsd:element name="Input" type="tns:VendorInData"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="VendorInData">
<xsd:sequence>
<xsd:element name="CPEType" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ResponseVendor">
<xsd:sequence>
<xsd:element name="Operation" type="tns:OperationType"/>
<xsd:element name="Service" type="tns:ServiceVendorOut"/>
<xsd:element name="Return" type="tns:ReturnType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ServiceVendorOut">
<xsd:sequence>
<xsd:element name="Vendor" type="tns:VendorOut"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="VendorOut">
<xsd:sequence>
<xsd:element name="Output" type="tns:VendorOutData"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="VendorOutData">
<xsd:sequence>
<xsd:element name="Vendor" type="tns:Vendor"/>
<xsd:element name="Return" type="tns:ReturnType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Vendor">
<xsd:sequence>
<xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="RequestModel">
<xsd:sequence>
<xsd:element name="Operation" type="tns:OperationType"/>
<xsd:element name="Service" type="tns:ServiceModelIn"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ServiceModelIn">
<xsd:sequence>
<xsd:element name="Model" type="tns:ModelIn"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ModelIn">
<xsd:sequence>
<xsd:element name="Input" type="tns:ModelInData"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ModelInData">
<xsd:sequence>
<xsd:element name="CPEType" type="xsd:string"/>
<xsd:element name="VendorName" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ResponseModel">
<xsd:sequence>
<xsd:element name="Operation" type="tns:OperationType"/>
<xsd:element name="Service" type="tns:ServiceModelOut"/>
<xsd:element name="Return" type="tns:ReturnType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ServiceModelOut">
<xsd:sequence>
<xsd:element name="Model" type="tns:ModelOut"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ModelOut">
<xsd:sequence>
<xsd:element name="Output" type="tns:ModelOutData"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ModelOutData">
<xsd:sequence>
<xsd:element name="Model" type="tns:Model"/>
<xsd:element name="Return" type="tns:ReturnType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Model">
<xsd:sequence>
<xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="RequestInventoryUpdate">
<xsd:sequence>
<xsd:element name="Operation" type="tns:OperationType"/>
<xsd:element name="Service" type="tns:ServiceInventoryUpdateIn"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ServiceInventoryUpdateIn">
<xsd:sequence>
<xsd:element name="InventoryUpdate" type="tns:InventoryUpdateIn"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="InventoryUpdateIn">
<xsd:sequence>
<xsd:element name="Input" type="tns:InventoryUpdateInData"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="InventoryUpdateInData">
<xsd:sequence>
<xsd:element name="Area" type="xsd:string"/>
<xsd:element name="Phone" type="xsd:string"/>
<xsd:element name="CPEType" type="xsd:string"/>
<xsd:element name="CPEModel" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ResponseInventoryUpdate">
<xsd:sequence>
<xsd:element name="Operation" type="tns:OperationType"/>
<xsd:element name="Service" type="tns:ServiceInventoryUpdateOut"/>
<xsd:element name="Return" type="tns:ReturnType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ServiceInventoryUpdateOut">
<xsd:sequence>
<xsd:element name="InventoryUpdate" type="tns:InventoryUpdateOut"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="InventoryUpdateOut">
<xsd:sequence>
<xsd:element name="Output" type="tns:InventoryUpdateOutData"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="InventoryUpdateOutData">
<xsd:sequence>
<xsd:element name="Return" type="tns:ReturnType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="RequestOutsidePlant">
<xsd:sequence>
<xsd:element name="Operation" type="tns:OperationType"/>
<xsd:element name="Service" type="tns:ServiceOutsidePlantIn"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ServiceOutsidePlantIn">
<xsd:sequence>
<xsd:element name="OutsidePlant" type="tns:OutsidePlantIn"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="OutsidePlantIn">
<xsd:sequence>
<xsd:element name="Input" type="tns:OutsidePlantInData"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="OutsidePlantInData">
<xsd:sequence>
<xsd:element name="Area" type="xsd:string"/>
<xsd:element name="Phone" type="xsd:string"/>
<xsd:element name="Type" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ResponseOutsidePlant">
<xsd:sequence>
<xsd:element name="Operation" type="tns:OperationType"/>
<xsd:element name="Service" type="tns:ServiceOutsidePlantOut"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ServiceOutsidePlantOut">
<xsd:sequence>
<xsd:element name="OutsidePlant" type="tns:OutsidePlantOut"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="OutsidePlantOut">
<xsd:sequence>
<xsd:element name="Output" type="tns:OutsidePlantOutData"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="OutsidePlantOutData">
<xsd:sequence>
<xsd:element name="Element" type="tns:ElementType" maxOccurs="unbounded"/>
<xsd:element name="Return" type="tns:ReturnType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="RequestOutsidePlantUpgrade">
<xsd:sequence>
<xsd:element name="Operation" type="tns:OperationType"/>
<xsd:element name="Service" type="tns:ServiceOutsidePlantUpgradeIn"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ServiceOutsidePlantUpgradeIn">
<xsd:sequence>
<xsd:element name="OutsidePlantUpgrade" type="tns:OutsidePlantUpgradeIn"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="OutsidePlantUpgradeIn">
<xsd:sequence>
<xsd:element name="Input" type="tns:OutsidePlantUpgradeInData"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="OutsidePlantUpgradeInData">
<xsd:sequence>
<xsd:element name="Element" type="tns:ElementPlantUpgradeType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ElementPlantUpgradeType">
<xsd:sequence>
<xsd:element name="Id" type="xsd:string"/>
<xsd:element name="Type" type="xsd:string"/>
<xsd:element name="Value" type="xsd:string"/>
<xsd:element name="Gps" type="tns:GPSType"/>
<xsd:element name="Picture" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ResponseOutsidePlantUpgrade">
<xsd:sequence>
<xsd:element name="Operation" type="tns:OperationType"/>
<xsd:element name="Service" type="tns:ServiceOutsidePlantUpgradeOut"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ServiceOutsidePlantUpgradeOut">
<xsd:sequence>
<xsd:element name="OutsidePlantUpgrade" type="tns:OutsidePlantUpgradeOut"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="OutsidePlantUpgradeOut">
<xsd:sequence>
<xsd:element name="Output" type="tns:OutsidePlantUpgradeOutData"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="OutsidePlantUpgradeOutData">
<xsd:sequence>
<xsd:element name="Return" type="tns:ReturnType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="RequestCertifyDSL">
<xsd:sequence>
<xsd:element name="Operation" type="tns:OperationType"/>
<xsd:element name="Service" type="tns:ServiceCertifyDSLIn"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ServiceCertifyDSLIn">
<xsd:sequence>
<xsd:element name="CertifyDSL" type="tns:CertifyDSLIn"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CertifyDSLIn">
<xsd:sequence>
<xsd:element name="Input" type="tns:CertifyDSLInData"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CertifyDSLInData">
<xsd:sequence>
<xsd:element name="Area" type="xsd:string"/>
<xsd:element name="Phone" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ResponseCertifyDSL">
<xsd:sequence>
<xsd:element name="Operation" type="tns:OperationType"/>
<xsd:element name="Service" type="tns:ServiceCertifyDSLOut"/>
<xsd:element name="Return" type="tns:ReturnType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ServiceCertifyDSLOut">
<xsd:sequence>
<xsd:element name="CertifyDSL" type="tns:CertifyDSLOut"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CertifyDSLOut">
<xsd:sequence>
<xsd:element name="Output" type="tns:CertifyDSLOutData"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CertifyDSLOutData">
<xsd:sequence>
<xsd:element name="CertifyParameter" type="tns:CertifyParameterType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="Return" type="tns:ReturnType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CertifyParameterType">
<xsd:sequence>
<xsd:element name="Name" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="Value" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="Code" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="Description" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="RequestNotification3g">
<xsd:sequence>
<xsd:element name="Operation" type="tns:OperationType"/>
<xsd:element name="Service" type="tns:ServiceNotification3gIn"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ServiceNotification3gIn">
<xsd:sequence>
<xsd:element name="Notification3g" type="tns:Notification3gIn"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Notification3gIn">
<xsd:sequence>
<xsd:element name="Input" type="tns:Notification3gInData"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Notification3gInData">
<xsd:sequence>
<xsd:element name="Gps" type="tns:GPSType"/>
<xsd:element name="Provider" type="xsd:string"/>
<xsd:element name="Parameter" type="tns:CertifyParameterType" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ResponseNotification3g">
<xsd:sequence>
<xsd:element name="Operation" type="tns:OperationType"/>
<xsd:element name="Service" type="tns:ServiceNotification3gOut"/>
<xsd:element name="Return" type="tns:ReturnType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ServiceNotification3gOut">
<xsd:sequence>
<xsd:element name="Notification3g" type="tns:Notification3gOut"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Notification3gOut">
<xsd:sequence>
<xsd:element name="Output" type="tns:Notification3gOutData"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Notification3gOutData">
<xsd:sequence>
<xsd:element name="Return" type="tns:ReturnType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="RequestLocation">
<xsd:sequence>
<xsd:element name="Operation" type="tns:OperationType"/>
<xsd:element name="Service" type="tns:ServiceLocationIn"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ServiceLocationIn">
<xsd:sequence>
<xsd:element name="Location" type="tns:LocationIn"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="LocationIn">
<xsd:sequence>
<xsd:element name="Input" type="tns:LocationInData"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="LocationInData">
<xsd:sequence>
<xsd:element name="Type" type="xsd:string"/>
<xsd:element name="Gps" type="tns:GPSType"/>
<xsd:element name="Picture" type="xsd:string"/>
<xsd:element name="Coment" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ResponseLocation">
<xsd:sequence>
<xsd:element name="Operation" type="tns:OperationType"/>
<xsd:element name="Service" type="tns:ServiceLocationOut"/>
<xsd:element name="Return" type="tns:ReturnType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ServiceLocationOut">
<xsd:sequence>
<xsd:element name="Location" type="tns:LocationOut"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="LocationOut">
<xsd:sequence>
<xsd:element name="Output" type="tns:LocationOutData"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="LocationOutData">
<xsd:sequence>
<xsd:element name="Return" type="tns:ReturnType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="RequestNeighborNode">
<xsd:sequence>
<xsd:element name="Operation" type="tns:OperationType"/>
<xsd:element name="Service" type="tns:ServiceNeighborNodeIn"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ServiceNeighborNodeIn">
<xsd:sequence>
<xsd:element name="NeighborNode" type="tns:NeighborNodeIn"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="NeighborNodeIn">
<xsd:sequence>
<xsd:element name="Input" type="tns:NeighborNodeInData"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="NeighborNodeInData">
<xsd:sequence>
<xsd:element name="Gps" type="tns:GPSType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ResponseNeighborNode">
<xsd:sequence>
<xsd:element name="Operation" type="tns:OperationType"/>
<xsd:element name="Service" type="tns:ServiceNeighborNodeOut"/>
<xsd:element name="Return" type="tns:ReturnType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ServiceNeighborNodeOut">
<xsd:sequence>
<xsd:element name="NeighborNode" type="tns:NeighborNodeOut"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="NeighborNodeOut">
<xsd:sequence>
<xsd:element name="Output" type="tns:NeighborNodeOutData"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="NeighborNodeOutData">
<xsd:sequence>
<xsd:element name="Node" type="tns:NodeType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="Return" type="tns:ReturnType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="NodeType">
<xsd:sequence>
<xsd:element name="Id" type="xsd:string"/>
<xsd:element name="Type" type="xsd:string"/>
<xsd:element name="Gps" type="tns:GPSType"/>
<xsd:element name="AddressStreet" type="xsd:string"/>
<xsd:element name="AddressNumber" type="xsd:string"/>
<xsd:element name="AddressCode" type="xsd:string"/>
<xsd:element name="Feasibility" type="tns:FeasibilityType"/>
<xsd:element name="Site" type="xsd:string"/>
<xsd:element name="Cable" type="xsd:string"/>
<xsd:element name="Cabinet" type="xsd:string"/>
<xsd:element name="PairFrom" type="xsd:string"/>
<xsd:element name="PairUntil" type="xsd:string"/>
<xsd:element name="PairOccupied" type="xsd:string"/>
<xsd:element name="PairVacant" type="xsd:string"/>
<xsd:element name="PairReserved" type="xsd:string"/>
<xsd:element name="PairBad" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="FeasibilityType">
<xsd:sequence>
<xsd:element name="Technology" type="xsd:string"/>
<xsd:element name="Speedy" type="xsd:string"/>
<xsd:element name="Port" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="OperationType">
<xsd:sequence>
<xsd:element name="OperationCode" type="xsd:string"/>
<xsd:element name="OperationId" type="xsd:string"/>
<xsd:element name="DateTime" type="xsd:string" minOccurs="0" maxOccurs="1"/>
<xsd:element name="IdUser" type="xsd:string" minOccurs="0"/>
<xsd:element name="IMEI" type="xsd:string"/>
<xsd:element name="IMSI" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ReturnType">
<xsd:sequence>
<xsd:element name="Code" type="xsd:string"/>
<xsd:element name="Description" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ElementType">
<xsd:sequence>
<xsd:element name="Id" type="xsd:string"/>
<xsd:element name="Type" type="xsd:string"/>
<xsd:element name="Value" type="xsd:string"/>
<xsd:element name="Gps" type="tns:GPSType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GPSType">
<xsd:sequence>
<xsd:element name="Lat" type="xsd:string"/>
<xsd:element name="Lng" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
</types>
<message name="CustomerRequest">
<part name="RequestCustomer" type="tns:RequestCustomer"/>
</message>
<message name="CustomerResponse">
<part name="ResponseCustomer" type="tns:ResponseCustomer"/>
</message>
<message name="VendorRequest">
<part name="RequestVendor" type="tns:RequestVendor"/>
</message>
<message name="VendorResponse">
<part name="ResponseVendor" type="tns:ResponseVendor"/>
</message>
<message name="ModelRequest">
<part name="RequestModel" type="tns:RequestModel"/>
</message>
<message name="ModelResponse">
<part name="ResponseModel" type="tns:ResponseModel"/>
</message>
<message name="InventoryUpdateRequest">
<part name="RequestInventoryUpdate" type="tns:RequestInventoryUpdate"/>
</message>
<message name="InventoryUpdateResponse">
<part name="ResponseInventoryUpdate" type="tns:ResponseInventoryUpdate"/>
</message>
<message name="OutsidePlantRequest">
<part name="RequestOutsidePlant" type="tns:RequestOutsidePlant"/>
</message>
<message name="OutsidePlantResponse">
<part name="ResponseOutsidePlant" type="tns:ResponseOutsidePlant"/>
</message>
<message name="OutsidePlantUpgradeRequest">
<part name="RequestOutsidePlantUpgrade" type="tns:RequestOutsidePlantUpgrade"/>
</message>
<message name="OutsidePlantUpgradeResponse">
<part name="ResponseOutsidePlantUpgrade" type="tns:ResponseOutsidePlantUpgrade"/>
</message>
<message name="CertifyDSLRequest">
<part name="RequestCertifyDSL" type="tns:RequestCertifyDSL"/>
</message>
<message name="CertifyDSLResponse">
<part name="ResponseCertifyDSL" type="tns:ResponseCertifyDSL"/>
</message>
<message name="Notification3gRequest">
<part name="RequestNotification3g" type="tns:RequestNotification3g"/>
</message>
<message name="Notification3gResponse">
<part name="ResponseNotification3g" type="tns:ResponseNotification3g"/>
</message>
<message name="LocationRequest">
<part name="RequestLocation" type="tns:RequestLocation"/>
</message>
<message name="LocationResponse">
<part name="ResponseLocation" type="tns:ResponseLocation"/>
</message>
<message name="NeighborNodeRequest">
<part name="RequestNeighborNode" type="tns:RequestNeighborNode"/>
</message>
<message name="NeighborNodeResponse">
<part name="ResponseNeighborNode" type="tns:ResponseNeighborNode"/>
</message>
<portType name="PrototypePortType">
<operation name="Customer">
<documentation>Test.</documentation>
<input message="tns:CustomerRequest"/>
<output message="tns:CustomerResponse"/>
</operation>
<operation name="Vendor">
<documentation>Test.</documentation>
<input message="tns:VendorRequest"/>
<output message="tns:VendorResponse"/>
</operation>
<operation name="Model">
<documentation>Test.</documentation>
<input message="tns:ModelRequest"/>
<output message="tns:ModelResponse"/>
</operation>
<operation name="InventoryUpdate">
<documentation>Test.</documentation>
<input message="tns:InventoryUpdateRequest"/>
<output message="tns:InventoryUpdateResponse"/>
</operation>
<operation name="OutsidePlant">
<documentation>Test.</documentation>
<input message="tns:OutsidePlantRequest"/>
<output message="tns:OutsidePlantResponse"/>
</operation>
<operation name="OutsidePlantUpgrade">
<documentation>Test.</documentation>
<input message="tns:OutsidePlantUpgradeRequest"/>
<output message="tns:OutsidePlantUpgradeResponse"/>
</operation>
<operation name="CertifyDSL">
<documentation>Test.</documentation>
<input message="tns:CertifyDSLRequest"/>
<output message="tns:CertifyDSLResponse"/>
</operation>
<operation name="Notification3g">
<documentation>Test.</documentation>
<input message="tns:Notification3gRequest"/>
<output message="tns:Notification3gResponse"/>
</operation>
<operation name="Location">
<documentation>Test.</documentation>
<input message="tns:LocationRequest"/>
<output message="tns:LocationResponse"/>
</operation>
<operation name="NeighborNode">
<documentation>Test.</documentation>
<input message="tns:NeighborNodeRequest"/>
<output message="tns:NeighborNodeResponse"/>
</operation>
</portType>
<binding name="PrototypeBinding" type="tns:PrototypePortType">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="Customer">
<soap:operation soapAction="urn:Demo#Customer" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:Demo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:Demo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="Vendor">
<soap:operation soapAction="urn:Demo#Vendor" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:Demo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:Demo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="Model">
<soap:operation soapAction="urn:Demo#Model" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:Demo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:Demo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="InventoryUpdate">
<soap:operation soapAction="urn:Demo#InventoryUpdate" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:Demo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:Demo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="OutsidePlant">
<soap:operation soapAction="urn:Demo#OutsidePlant" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:Demo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:Demo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="OutsidePlantUpgrade">
<soap:operation soapAction="urn:Demo#OutsidePlantUpgrade" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:Demo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:Demo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="CertifyDSL">
<soap:operation soapAction="urn:Demo#OutCertifyDSL" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:Demo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:Demo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="Notification3g">
<soap:operation soapAction="urn:Demo#OutLocation" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:Demo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:Demo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="Location">
<soap:operation soapAction="urn:Demo#OutLocation" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:Demo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:Demo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
<operation name="NeighborNode">
<soap:operation soapAction="urn:Demo#OutNeighborNode" style="rpc"/>
<input>
<soap:body use="encoded" namespace="urn:Demo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</input>
<output>
<soap:body use="encoded" namespace="urn:Demo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
</output>
</operation>
</binding>
<service name="Prototype">
<port name="PrototypePort" binding="tns:PrototypeBinding">
<soap:address location="http://pcba.telefonicachile.cl/smartphone/ws/shark.php"/>
</port>
</service>
</definitions>
